{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
	<h4 id="myModalLabel" class="modal-title">Contatos</h4>
      </div>
      <div class="modal-body">
	<div class="row centered">
	  <p>
	    Email: <strong>fernando@fernandoalmeida.net</strong><br>
	    Skype: <strong>fernandoalmeida.net</strong><br>
	    Tel: <strong>(11) 99965-8127</strong>
	  </p>
	</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>