<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="http://linkedin.com/in/fernandoalmeida" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/fernandoalmeida" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://stackoverflow.com/users/756704/fernando-almeida" target="_blank"><i class="fa fa-stack-overflow"></i></a>
      <a href="http://rubygems.org/profiles/fernandoalmeida" target="_blank"><i class="icon-ruby"></i></a>
      <a href="https://twitter.com/fernandoalmeida" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/fernandoalmeida.net" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://flickr.com/fapontonet" target="_blank"><i class="fa fa-flickr"></i></a>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Footer -->
