<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
	<img src="{{ root_url }}/assets/img/logo_fernando_almeida.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.url == '/index.html' %}{{ 'active' }}{% endif %}"><a href="{{ root_url }}/">INÍCIO</a></li>
        <li class="{% if page.url contains '/portfolio' %}{{ 'active' }}{% endif %}"><a href="{{ root_url }}/portfolio/">PORTFOLIO</a></li>
        <li class="{% if page.url contains '/blog' %}{{ 'active' }}{% endif %}"><a href="{{ root_url }}/blog/">BLOG</a></li>
        <li class="{% if page.url contains '/sobre-mim' %}{{ 'active' }}{% endif %}"><a href="{{ root_url }}/sobre-mim/">SOBRE MIM</a></li>
        <li class="{% if page.url == '/contato.html' %}{{ 'active' }}{% endif %}"><a title="CONTATO" data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>